<a href="https://colab.research.google.com/github/TemsyChen/DS-Unit-2-Linear-Models/blob/master/TemsyChen_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [3]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [4]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [5]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [6]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [7]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

###Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [8]:
df.head(5)

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [9]:
df.shape

(421, 59)

In [22]:
#Convert "Date" column to datetime

# df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
df['Date'] = df['Date'].astype('datetime64[ns]')

In [23]:
df['Date'].dtypes

dtype('<M8[ns]')

In [34]:
#Split the train/validation/test data

train = df[df['Date'].dt.year <= 2016]
val = df[df['Date'].dt.year == 2017]
test = df[df['Date'].dt.year >= 2018]

###Begin with baselines for classification.

In [40]:
#Determine the majority class

target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [43]:
majority_class = y_train.mode()[0]
y_pred = [majority_class]*len(y_train)

In [44]:
# the accuracy score of the baseline

from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.5906040268456376

###Use scikit-learn for logistic regression.

In [46]:
#1 import estimator class
from sklearn.linear_model import LogisticRegression

#2 Instantiate the class
log_reg = LogisticRegression(solver='lbfgs')

#3 Arrange the X Matrices
features = ['Yelp','Google','Uniformity']
X_train = train[features]
X_val = val[features]

target = 'Great'
y_train = train[target]
y_val = val[target]

# Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

#Fit the model
log_reg.fit(X_train_imputed, y_train)

#5 Apply the model to new data
log_reg.score(X_val_imputed, y_val)

0.5529411764705883

In [48]:
#Check shape for all datasets

X_train_imputed.shape, y_train.shape, X_val_imputed.shape, y_val.shape

((298, 3), (298,), (85, 3), (85,))

In [47]:
#1 import estimator class
from sklearn.linear_model import LogisticRegression

#2 Instantiate the class
log_reg = LogisticRegression(solver='lbfgs')

#3 Arrange the X Matrices
features = ['Tortilla','Meat','Fillings']
X_train = train[features]
X_val = val[features]

target = 'Great'
y_train = train[target]
y_val = val[target]

# Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

#Fit the model
log_reg.fit(X_train_imputed, y_train)

#5 Apply the model to new data
log_reg.score(X_val_imputed, y_val)

0.8705882352941177

###Get your model's validation accuracy. (Multiple times if you try multiple iterations.)

In [111]:
#exclude non-numerical columns from 
df.describe(exclude='number')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

           Burrito                 Date Chips  ... Corn Zucchini  Great
count          421                  421    26  ...    3        1    421
unique           5                  169     4  ...    2        1      2
top     California  2016-08-30 00:00:00     x  ...    x        x  False
freq           169                   29    21  ...    2        1    239
first          NaN  2011-05-16 00:00:00   NaN  ...  NaN      NaN    NaN
last           NaN  2026-04-25 00:00:00   NaN  ...  NaN      NaN    NaN

[6 rows x 40 columns]

In [112]:
#There's a high number of NaNs in the dataset
#Identify the high NaN columns and delete them
null_col = []

for col in df.columns:
  if (df[col].isnull().sum()) > 90:
    null_col.append(col)

null_col

['Yelp',
 'Google',
 'Chips',
 'Mass (g)',
 'Density (g/mL)',
 'Length',
 'Circum',
 'Volume',
 'Unreliable',
 'NonSD',
 'Beef',
 'Pico',
 'Guac',
 'Cheese',
 'Fries',
 'Sour cream',
 'Pork',
 'Chicken',
 'Shrimp',
 'Fish',
 'Rice',
 'Beans',
 'Lettuce',
 'Tomato',
 'Bell peper',
 'Carrots',
 'Cabbage',
 'Sauce',
 'Salsa.1',
 'Cilantro',
 'Onion',
 'Taquito',
 'Pineapple',
 'Ham',
 'Chile relleno',
 'Nopales',
 'Lobster',
 'Queso',
 'Egg',
 'Mushroom',
 'Bacon',
 'Sushi',
 'Avocado',
 'Corn',
 'Zucchini']

In [122]:
df_subset = df.drop(columns=null_col)
df_subset

        Burrito       Date  Cost  Hunger  ...  Salsa  Synergy  Wrap  Great
0    California 2016-01-18  6.49     3.0  ...    4.0      4.0   4.0  False
1    California 2016-01-24  5.45     3.5  ...    3.5      2.5   5.0  False
2      Carnitas 2016-01-24  4.85     1.5  ...    3.0      3.0   5.0  False
3         Asada 2016-01-24  5.25     2.0  ...    4.0      4.0   5.0  False
4    California 2016-01-27  6.59     4.0  ...    2.5      4.5   4.0   True
..          ...        ...   ...     ...  ...    ...      ...   ...    ...
418       Other 2019-08-27  6.00     1.0  ...    2.0      2.0   5.0  False
419       Other 2019-08-27  6.00     4.0  ...    5.0      4.0   3.0   True
420  California 2019-08-27  7.90     3.0  ...    3.5      4.0   4.5  False
421       Other 2019-08-27  7.90     3.0  ...    5.0      5.0   2.0   True
422       Other 2019-08-27  5.50     3.5  ...    3.0      4.5   4.0   True

[421 rows x 14 columns]

In [123]:
#Split the train/validation/test data

train = df_subset[df_subset['Date'].dt.year <= 2016]
val = df_subset[df_subset['Date'].dt.year == 2017]
test = df_subset[df_subset['Date'].dt.year >= 2018]

In [124]:
#List target and features

target = 'Great'
features = train.columns.drop([target]).drop('Date')
features

Index(['Burrito', 'Cost', 'Hunger', 'Tortilla', 'Temp', 'Meat', 'Fillings',
       'Meat:filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap'],
      dtype='object')

In [125]:
#Arrange X matrices

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
y_test = test[target]

In [126]:
#OneHotEncode the Burrito

import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_val = encoder.transform(X_val)
X_test = encoder.transform(X_test)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [127]:
#Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)
X_test_imputed = imputer.transform(X_test)

In [ ]:
#Return column headers to imputed datasets

pd.DataFrame(X_train_imputed, columns=X_train.columns)
pd.DataFrame(X_val_imputed, columns=X_val.columns)
pd.DataFrame(X_test_imputed, columns=X_test.columns)

In [130]:
#Scale using StandardScaler

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)
X_test_scaled = scaler.transform(X_test_imputed)

In [119]:
#Check shape

X_train.shape, y_train.shape, X_val.shape, y_val.shape

((298, 16), (298,), (85, 16), (85,))

In [134]:
#Fit model
model = LogisticRegression()
model.fit(X_train_scaled, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [135]:
#Check accuracy
y_pred = model.predict(X_val_scaled)
accuracy_score(y_val, y_pred)

0.8235294117647058

In [137]:
#Using Srini's method of creating a function and a for loop
#to test every k and compare its accuracies to get the highest one.

#Function uses SelectKBest to find the best features
def select_and_fit(k):
  selector = SelectKBest(k=k)
  X_train_select = selector.fit_transform (X_train_scaled, y_train)
  X_val_select = selector.transform(X_val_scaled)

  model = LogisticRegression()
  model.fit(X_train_select, y_train)

  return model.score(X_val_select, y_val), list(X_train.columns[selector.get_support()])

best_features = []
best_k = 0
best_acc = 0

for k in range(1, len(X_train.columns)+1):
  acc, feat = select_and_fit(k)
  if acc > best_acc:
    best_acc = acc
    best_k = k
    best_features = feat

print(f'best k ={best_k}\nbest accuracy ={best_acc:,.2f}\nbest features={best_features}')

best k =4
best accuracy =0.92
best features=['Meat', 'Fillings', 'Meat:filling', 'Synergy']

In [148]:
#Use the model on the test accuracy

#1 import estimator class
from sklearn.linear_model import LogisticRegression

#2 Instantiate the class
log_reg = LogisticRegression(solver='lbfgs')

#3 Arrange the X Matrices
features = ['Meat','Fillings','Meat:filling','Synergy']
X_train = train[features]
X_val = val[features]
X_test = test[features]

target = 'Great'
y_train = train[target]
y_val = val[target]
y_test = test[target]

# Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)
X_test_imputed = imputer.transform(X_test)

#Fit the model
log_reg.fit(X_train_imputed, y_train)

#5 Apply the model to new data
log_reg.score(X_test_imputed, y_test)

0.7368421052631579

In [149]:
log_reg.score(X_val_imputed, y_val)

0.9176470588235294